In [49]:
import pandas as pd
import os

In [50]:
os.getcwd()

'/Users/malte/code/ayelenklas/geotracker/notebooks'

In [51]:
restaurants = pd.read_csv("../raw_data/precalculated_recommendations/precalc_matched_restaurants_by_circle.csv")
restaurants

,circle_id,kmradius,overlap_percent,Unnamed: 0,restaurant_name,type,type_of_cuisine,address,street,zip_code,city_name,coordinates,latitude,longitude,opening_hours,database,distance_to_circle_center
0,0,1,0,807,Kaiserpagode,Restaurant,seafood,Potsdamer Allee 119 14532 Stahnsdorf,Potsdamer Allee,14532.0,119,"52.38518, 13.19603",52.38518,13.19603,NaN,here_maps,0.998219
1,0,1,0,808,Taj Mahal,Restaurant,asian,Potsdamer Allee 109 14532 Stahnsdorf,Potsdamer Allee,14532.0,109,"52.38588, 13.19847",52.38588,13.19847,NaN,here_maps,0.910330
2,0,1,0,809,Restaurant Schleusengarten,Restaurant,international,Schleusenweg 4 14532 Stahnsdorf,Schleusenweg,14532.0,4,"52.39281, 13.21045",52.39281,13.21045,NaN,here_maps,0.850100
3,0,1,0,1418,Cafe Marlies,Coffee/Tea,NaN,Kastanienweg 36 14532 Stahnsdorf,Kastanienweg,14532.0,36,"52.39287, 13.20285",52.39287,13.20285,NaN,here_maps,0.347454
4,0,1,0,1419,Fook Lam Mun,Restaurant,asian,Alte Potsdamer Landstraße 43 14532 Stahnsdorf,Alte Potsdamer Landstraße,14532.0,43,"52.39272, 13.20148",52.39272,13.20148,Mon-Sun: 11:30 - 22:30,here_maps,0.272365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481991,4158,5,50,2909,Buona Fortuna,Restaurant,european,Birkholzer Straße 128 Kolonie Gehrenberge 1634...,Birkholzer Straße 128 Kolonie,16341.0,Gehrenberge,"52.64303, 13.55871",52.64303,13.55871,NaN,here_maps,2.755296
481992,4158,5,50,2910,Akropolis,Restaurant,greek,Dorfstraße 12 Schwanebeck 16341 Panketal,Dorfstraße 12,16341.0,Schwanebeck,"52.62739, 13.54419",52.62739,13.54419,Mon-Sun: 11:30 - 23:00,here_maps,2.190465
481993,4158,5,50,2911,Ristorante Don Giovanni,Restaurant,european,Bernauer Chaussee 27 16341 Panketal,Bernauer Chaussee,16341.0,27,"52.63843, 13.56029",52.63843,13.56029,Mon: 09:00 - 22:00 Tue-Thu: 12:00 - 22:00 Fri-...,here_maps,2.243516
481994,4158,5,50,2912,Ristorante Don Giovanni,Restaurant,european,Oldenburger Ring 16341 Panketal,Oldenburger,16341.0,Ring,"52.64199, 13.53669",52.64199,13.53669,NaN,here_maps,3.518538
481995,4158,5,50,2913,Hansjoachim Hohlfeld,Restaurant,NaN,Goslarer Straße 8 Zepernick 16341 Panketal,Goslarer Straße 8,16341.0,Zepernick,"52.64875, 13.55067",52.64875,13.55067,NaN,here_maps,3.561021

In [52]:
circles = pd.read_csv("../raw_data/precalculated_recommendations/precalc_circle_weights.csv")
circles

      circle_id  kmradius  overlap  center_lat  center_lon  circle_weight
0             0         1        0   52.394058   13.198130             16
1             1         1        0   52.394058   13.223206             12
2             2         1        0   52.394058   13.248282             20
3             3         1        0   52.394058   13.273358             10
4             4         1        0   52.394058   13.298434              4
...         ...       ...      ...         ...         ...            ...
4154       4154         5       50   52.620151   13.323510            450
4155       4155         5       50   52.620151   13.386200            285
4156       4156         5       50   52.620151   13.448890            126
4157       4157         5       50   52.620151   13.511580             89
4158       4158         5       50   52.620151   13.574270             28

[4159 rows x 6 columns]

In [53]:
cirlces_small = circles[circles["overlap"] == 50]
restaurants_small = restaurants[restaurants["overlap_percent"] == 50]

print(len(cirlces_small))
print(len(restaurants_small))

1285
152038

In [54]:
restaurants_small.head()

,circle_id,kmradius,overlap_percent,Unnamed: 0,restaurant_name,type,type_of_cuisine,address,street,zip_code,city_name,coordinates,latitude,longitude,opening_hours,database,distance_to_circle_center
66266,1915,1,50,807,Kaiserpagode,Restaurant,seafood,Potsdamer Allee 119 14532 Stahnsdorf,Potsdamer Allee,14532.0,119,"52.38518, 13.19603",52.38518,13.19603,NaN,here_maps,0.998219
66267,1915,1,50,808,Taj Mahal,Restaurant,asian,Potsdamer Allee 109 14532 Stahnsdorf,Potsdamer Allee,14532.0,109,"52.38588, 13.19847",52.38588,13.19847,NaN,here_maps,0.910330
66268,1915,1,50,809,Restaurant Schleusengarten,Restaurant,international,Schleusenweg 4 14532 Stahnsdorf,Schleusenweg,14532.0,4,"52.39281, 13.21045",52.39281,13.21045,NaN,here_maps,0.850100
66269,1915,1,50,1418,Cafe Marlies,Coffee/Tea,NaN,Kastanienweg 36 14532 Stahnsdorf,Kastanienweg,14532.0,36,"52.39287, 13.20285",52.39287,13.20285,NaN,here_maps,0.347454
66270,1915,1,50,1419,Fook Lam Mun,Restaurant,asian,Alte Potsdamer Landstraße 43 14532 Stahnsdorf,Alte Potsdamer Landstraße,14532.0,43,"52.39272, 13.20148",52.39272,13.20148,Mon-Sun: 11:30 - 22:30,here_maps,0.272365

In [55]:
restaurants_small["type_of_cuisine"] = restaurants_small["type_of_cuisine"].str.capitalize()

/var/folders/2v/75hdky1j1xv5mw9hmtz1l2140000gq/T/ipykernel_63128/2307745096.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restaurants_small["type_of_cuisine"] = restaurants_small["type_of_cuisine"].str.capitalize()

In [56]:
restaurants_small.type_of_cuisine.unique()

array(['Seafood', 'Asian', 'International', nan, 'European', 'Greek',
       'Breakfast/dessert', 'Mediterranean', 'Fastfood', 'Italian',
       'Middle eastern', 'Steak', 'American', 'Bars', 'Mexican',
       'Healthy', 'Snacks', 'Russian', 'Vegetarian or vegan',
       'South american', 'African', 'Indian'], dtype=object)

In [57]:
cirlces_small.to_csv("../geotracker/data/precalculated_recommendations/precalc_circle_weights.csv")
restaurants_small.to_csv("../geotracker/data/precalculated_recommendations/precalc_matched_restaurants_by_circle.csv")

# Experimenting on stuff for functionm development for website

In [58]:
import numpy as np
circle_ranks = restaurants_small.groupby("circle_id", as_index=False).agg(
    number_of_restaurants = ("distance_to_circle_center", pd.Series.count))
circle_ranks[circle_ranks["number_of_restaurants"] == circle_ranks.number_of_restaurants.max()]

      circle_id  number_of_restaurants
1188       4141                   2207

In [59]:
selected_circle = circle_ranks[circle_ranks["number_of_restaurants"] == circle_ranks.number_of_restaurants.max()].head(1)
selected_circle

      circle_id  number_of_restaurants
1188       4141                   2207

In [60]:
selected_circle.iloc[0, 0]

4141

In [61]:
selected_circle.circle_id.values[0]

4141